html {
  font-size: 10px;
}

body {
  @extend %font-primary;
  color: $color-text-light;
}

h1,
h2 {
  @extend %font-additional;
}

h1 {
  @include font(6.4rem, 800);
  color: $color-text-dark;
}

h2 {
  @include font(5.5rem, 600, 0.003);
  color: $color-text-dark;
}

h3 {
  @include font(2.4rem, 600);
  color: $color-primary;
}

h4 {
  @include font(2.2rem, 600);
}

h5 {
  @include font(2rem, 600, 0.003);
  color: $color-primary;
}

.text {
  @include font(2rem, 400, 0.01, 32px);
}
