html {
  font-size: 10px;

  @include media-desktop {
    font-size: 9px;
  }
  @include media-tablet {
    font-size: 8px;
  }
  @include media-mobile {
    font-size: 7px;
  }
}

body {
  @extend %font-primary;
  color: $color-text-light;
}

section {
  position: relative;
}

h1,
h2 {
  @extend %font-additional;
}

h1 {
  @include font(6.4rem, 800, 0.01);
  color: $color-text-dark;

  @include media-desktop {
    @include font(5rem, 800, 0.01);
  }

  @include media-mobile {
    @include font(4rem, 800, 0.01);
  }
}

h2 {
  @include font(5.5rem, 700, 0.003);
  color: $color-text-dark;

  @include media-desktop {
    @include font(5rem, 700, 0.003);
  }

  @include media-tablet {
    @include font(4.25rem, 700, 0.003);
  }

  @include media-mobile {
    @include font(3.4rem, 700, 0.003);
  }
}

h3 {
  @include font(2.4rem, 600, 0.01, 24px);
  color: $color-primary;

  @include media-desktop {
    @include font(2.2rem, 600, 0.01);
  }

  @include media-tablet {
    @include font(2.1rem, 800, 0.01);
  }

  @include media-mobile {
    @include font(2rem, 800, 0.01);
  }
}

h4 {
  @include font(2.2rem, 600);
}

h5 {
  @include font(2rem, 600, 0.01, 1.7);
  color: $color-primary;

  @include media-mobile {
    @include font(18px, 600, 0.01, 1.27);
  }
}

.text {
  @include font(2rem, 400, 0.01, 1.6);

  @include media-tablet {
    line-height: 28px;
  }

  @include media-mobile {
    line-height: 24px;
  }

  &_small {
    @include font(1.8rem, 400, 0.01, 1.55);
  }
}
