.button {
  letter-spacing: 0.16px;
  color: $color-button;
  border: 1px solid $color-button;
  border-radius: 24px;
  padding: 14px 49px;
  cursor: pointer;

  @extend %transition;
  @extend %font-primary;
  @include font(16px, 700);

  &:hover {
    color: $color-light;
    background-color: $color-button;
    box-shadow: 0 4px 8px rgba($color-button, 0.5);
  }
}
