.card {
  padding: 3.5rem 4.7rem;
  min-height: 267px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
  border-radius: 30px;
  border: 1px solid rgb(0 0 0 /0.1);

  &__image {
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }

  &__title {
    color: inherit;
    text-align: center;
  }

  &:hover {
    box-shadow: 4px 4px 30px rgb(0 0 0 /0.1);
  }
}
