.decor {
  z-index: -1;
  &__circle {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 3.1rem;
    height: 3.1rem;
  }

  &__rect {
    position: absolute;
    &_1 {
      color: $color-decor-1;
    }
    &_2 {
      color: $color-decor-2;
    }
    &_3 {
      color: $color-decor-3;
    }
    &_4 {
      color: $color-decor-4;
    }
    &_5 {
      color: $color-decor-5;
    }
    &_6 {
      color: $color-decor-6;
    }
  }
}
