.link {
  position: relative;
  @extend %transition;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: $color-primary;
    position: absolute;
    bottom: -2px;
    left: 50%;
    @extend %transition;
  }

  &_active {
    font-weight: 700;
    cursor: default;
  }

  &_button {
    display: block;
    @include font(1.6rem, 700);
    border-radius: 24px;
    padding: 1.2rem 4.9rem;
    color: $color-primary;
    border: 1px solid $color-primary;
    &:hover {
      background-color: $color-primary;
      color: $color-light;
    }

    @include media-tablet {
      padding: 1rem 4.5rem;
    }

    @include media-mobile {
      padding: 1rem 5rem;
    }
  }

  &:not(&_active, &_button, &__social):hover {
    color: $color-primary;
    &::after {
      width: 100%;
      left: 0;
    }
  }

  &__social {
    width: 40px;
    height: 40px;
    border-radius: 100%;

    &:hover {
      transform: scale(1.15);
      box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
    }

    &_fb {
      background: url("./assets/images/social/fb-icon.svg") center / 40px
        no-repeat;
    }
    &_insta {
      background: url("./assets/images/social/insta-icon.svg") center / contain
        no-repeat;
    }
    &_linkedin {
      background: url("./assets/images/social/linkedin-icon.svg") center /
        contain no-repeat;
    }
    &_mail {
      background: url("./assets/images/social/mail-icon.svg") center / contain
        no-repeat;
    }
    &_twitter {
      background: url("./assets/images/social/twitter-icon.svg") center /
        contain no-repeat;
    }
  }
}
