.about-us {
  margin-top: 18.7rem;
  margin-left: 3rem;
  margin-right: 3rem;

  @include media-tablet {
    margin: 15rem 0 0;
  }

  @include media-mobile {
    margin-top: 12.7rem;
  }

  &__header {
    text-align: center;
  }

  &__title {
    margin-top: 2rem;

    @include media-mobile {
      margin-top: 1.2rem;
    }
  }

  &__subtitle {
    color: $color-primary;
  }

  &__content {
    margin-top: 3.8rem;
    display: flex;
    gap: 6rem;
    align-items: start;

    @include media-desktop {
      flex-wrap: wrap;
    }

    @include media-tablet {
      flex-wrap: wrap-reverse;
      margin-top: 2.5rem;
    }
  }

  &__visual {
    position: relative;
    flex: 1 1 40%;

    @include media-desktop {
      flex: 1 0 100%;
    }

    @include media-mobile {
      margin-top: 1rem;
    }
    img {
      max-width: 100%;
      border-radius: 24px;

      @include media-desktop {
        border-radius: 20px;
      }
      @include media-tablet {
        border-radius: 16px;
      }
      @include media-mobile {
        border-radius: 12px;
      }
    }
  }

  &__description {
    flex: 1 1 44%;
    padding: 2.6rem 0;

    @include media-desktop {
      flex: 1 0 100%;
    }
  }

  &__text {
    max-width: 61rem;
    margin-bottom: 2.4rem;

    @include media-desktop {
      max-width: 100%;
    }

    @include media-mobile {
      margin-bottom: 1.5rem;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    @include media-mobile {
      justify-content: space-around;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    @include media-mobile {
      padding: 1.5rem 5rem;
    }

    span {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url("./assets/images/icons/play-circle.svg") center / contain
        no-repeat;

      @include media-desktop {
        width: 18px;
        height: 18px;
      }

      @include media-mobile {
        width: 13px;
        height: 13px;
      }
    }
    &:not(&:last-child) {
      margin-right: 2.4rem;
    }
  }

  &__decor {
    .decor__rect {
      &_4 {
        top: -1.8rem;
        left: -3rem;

        @include media-desktop {
          display: none;
        }
      }
      &_5 {
        bottom: -2%;
        right: -3.8rem;

        @include media-desktop {
          bottom: auto;
          right: auto;
          top: -2.3rem;
          left: 0.2rem;
        }
      }
    }
  }
}
