.about-us {
  position: relative;
  margin-top: 20.9rem;
  &__header {
    text-align: center;
  }

  &__title {
    margin-top: 2rem;
  }

  &__subtitle {
    color: $color-primary;
  }

  &__content {
    margin-top: 3.8rem;
    @include layout(45%);
  }

  &__visual {
    img {
      max-width: 56.5rem;
      border-radius: 24px;
    }
  }

  &__description {
    flex-basis: 610px;
    padding: 2.6rem 0;
  }

  &__text {
    max-width: 61rem;
    margin-bottom: 2.4rem;
  }
  &__buttons {
    display: flex;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 5rem;
    span {
      display: inline-block;
      width: 24px;
      height: 24px;
    }
    &:last-child {
      margin-left: 2.4rem;
    }
  }

  &__decor {
    position: absolute;
    .decor__rect {
      &_4 {
        top: 13.9rem;
        left: -3.1rem;
      }
      &_5 {
        top: 49.6rem;
        left: 50.3rem;
      }
    }
  }
}
