.intro {
  cursor: default;
  overflow-x: hidden;

  &__wrapper {
    max-width: 1440px;
    @include layout(100%);
    justify-content: center;
    padding-bottom: 25px;

    @include media-tablet {
      padding-top: 1.5rem;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 78.8rem;
    text-align: center;

    @extend %font-additional;
  }

  &__title {
    margin-bottom: 2.4rem;

    @include media-mobile {
      margin-bottom: 2.9rem;
    }
  }

  &__subtitle {
    @include font(2rem, 400, 0.01, 150%);
    color: rgba($color-text-light, 0.6);
    margin-bottom: 2.9rem;

    span {
      display: block;
    }

    @include media-mobile {
      @include font(2rem, 400, 0.01, 24px);
    }
  }

  &__button {
    @include font(1.6rem, 700, 0.01, 24px);
    &:hover {
      box-shadow: 0 4px 8px rgba($color-primary, 0.5);
    }
  }

  &__content {
    margin-top: 9.7rem;
    position: relative;

    @include media-tablet {
      margin-top: 10rem;
    }
    @include media-mobile {
      margin-top: 8.5rem;
    }
  }

  &__projects {
    max-width: 17.5rem;
    width: 100%;
    border-radius: 16px;
    background-color: $color-light;
    box-shadow: 0 8px 24px 0 rgba($color: #000000, $alpha: 0.15);
    text-align: center;
    position: absolute;
    top: 5%;
    left: 0;
    padding: 11px 10px 17px 0;

    @include media-desktop {
      top: 0;
      max-width: 16rem;
      border-radius: 12px;
    }

    @include media-tablet {
      top: -5%;
      max-width: 15rem;
      border-radius: 9px;
    }

    @include media-mobile {
      max-width: 14.145rem;
      top: -10.2%;
      left: -7px;
      padding: 11px 6px 9px 0;
      border-radius: 6px;
    }
  }

  &__projects-title {
    @include font(1.2rem, 700);
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    span {
      @include font(2rem);
    }

    @include media-desktop {
      @include font(1rem);
    }
    @include media-mobile {
      @include font(0.8rem);
    }
  }

  &__projects-subtitle {
    @extend %font-additional;
    @include font(2.4rem);

    span {
      font-weight: 700;
    }

    @include media-desktop {
      @include font(2rem);
    }
    @include media-mobile {
      @include font(1.7143rem);
    }
  }

  &__visual {
    position: relative;
    margin: 0 auto;
    max-width: 95.5rem;
  }

  &__image {
    img {
      display: block;
      margin: 0 auto;
      max-width: 74rem;
      width: 100%;
      border-radius: 5rem;

      @include media-desktop {
        border-radius: 4.1rem;
      }

      @include media-tablet {
        border-radius: 3rem;
      }

      @include media-mobile {
        border-radius: 1.7rem;
        padding: 0 0.75rem;
      }
    }
  }

  &__review {
    max-width: 16.6rem;
    position: absolute;
    bottom: -1%;
    right: 0;
    color: $color-text-dark;
    border-radius: 16px;

    @include media-desktop {
      max-width: 15rem;
      border-radius: 12px;
    }

    @include media-tablet {
      max-width: 13.75rem;
      border-radius: 9px;
    }

    @include media-mobile {
      max-width: 11.43rem;
      border-radius: 6px;

      bottom: -26px;
      right: -7px;
    }

    .review__title {
      @include font(1rem, 600);

      @include media-mobile {
        @include font(0.71rem, 600);
      }
    }

    .review__subtitle {
      @include font(0.6rem, 600);

      @include media-mobile {
        @include font(0.43rem, 600);
      }
    }

    .review__content {
      @extend %font-additional;
      @include font(1rem);

      @include media-mobile {
        @include font(0.71rem, 600);
      }
    }
  }

  &__decor {
    .decor__circle {
      &:first-child {
        @extend %circle-prime-bg;

        top: 25%;
        left: 7%;

        @include media-desktop {
          top: 35%;
          left: 5%;
        }

        @include media-desktop {
          top: 38%;
          left: 2%;
        }

        @include media-mobile {
          top: 40.7%;
          left: -0.9%;
        }
      }
      &:nth-child(2) {
        @extend %circle-add-bg;

        top: 64.2%;
        left: 20.8%;

        @include media-desktop {
          display: none;
        }
      }

      &:nth-child(3) {
        @extend %circle-prime-bg;

        top: 43.2%;
        right: 13.5%;

        @include media-tablet {
          display: none;
        }
      }
      @extend %circle-add-bg;

      top: 10.2%;
      right: -1%;

      @include media-desktop {
        top: 10.2%;
        right: -1%;
      }

      @include media-desktop {
        top: 10.2%;
        right: -1%;
      }

      @include media-mobile {
        top: 0;
        right: -2%;
      }
    }

    .decor__rect {
      &_1 {
        top: -4%;
        left: 34%;

        @include media-desktop {
          left: 15%;
        }

        @include media-tablet {
          top: auto;
          bottom: -18px;
        }

        @include media-mobile {
          left: -8px;
        }
      }
      &_2 {
        bottom: -21px;
        left: 36.2%;

        @include media-desktop {
          left: 73%;
        }

        @include media-tablet {
          bottom: auto;
          top: -12px;
        }

        @include media-mobile {
          left: 73%;
        }
      }
      &_3 {
        transform: rotate(-31.48deg);
        bottom: 12px;
        left: 41.6%;

        @include media-tablet {
          display: none;
        }
      }
    }
  }
}
