.portfolio {
  margin-top: 13rem;

  @include media-mobile {
    margin-top: 9rem;
  }

  &__header {
    margin: 0 auto;
    text-align: center;
    max-width: 67rem;
    margin-bottom: 7.1rem;

    @include media-mobile {
      margin-bottom: 4.7rem;
    }
  }

  &__title {
    margin-top: 1.9rem;
    margin-bottom: 2.9rem;

    @include media-mobile {
      margin-top: 1.6rem;
      margin-bottom: 5rem;
    }
  }

  &__text {
    line-height: 34px;

    @include media-tablet {
      line-height: 24px;
    }
  }

  &__slides {
    @include layout(28.3%);
    align-items: center;
    position: relative;
    margin-bottom: 6.2rem;

    @include media-tablet {
      justify-content: center;
      gap: 40px;
    }

    @include media-mobile {
      justify-content: center;
      margin-bottom: 7.1rem;
      gap: 73px;
    }
  }

  &__slide {
    display: flex;
    align-items: end;
    flex-shrink: 1;
    height: 24.31vw;
    max-height: 350px;
    padding: 3.5rem 2.4rem;
    background: url("./assets/images/portfolio/cloud-app.png") center / 100%
      no-repeat;
    border-radius: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    @extend %transition;

    @include media-tablet {
      flex: 0 0 80vw;
      min-height: 300px;
    }

    @include media-mobile {
      min-width: 300px;
      min-height: 300px;
    }

    &:first-child {
      background: url("./assets/images/portfolio/design-byte-app.png") center /
        100% no-repeat;
    }

    &:last-child {
      background: url("./assets/images/portfolio/design-furniture-app.png")
        center / 100% no-repeat;
      padding: 3.5rem 3.4rem;
    }

    &:hover {
      padding: 4rem 3.9rem;
      transform: scale(1.14);

      @include media-tablet {
        transform: scale(1.13);
        padding: 24px 26px;
      }
    }
  }

  &__slide-title {
    color: $color-light;
    line-height: 0.003;
  }

  &__link {
    width: 23rem;
    margin: 0 auto;

    @include media-tablet {
      font-size: 2rem;
      width: 25rem;
      padding: 1.5rem 4rem;
    }

    @include media-mobile {
      font-size: 2.29rem;
      width: 28rem;
      padding: 1.3rem 4.8rem;
    }
  }

  &__decor {
    .decor__rect {
      &:first-child {
        // display: none;
        transform: rotate(-16.32deg);
        top: 150px;
        right: 1vw;
        @media (min-width: 1440px) {
          right: -4px;
        }

        @include media-tablet {
          display: none;
        }
      }
      &:last-child {
        transform: rotate(19.17deg);
        bottom: 313px;
        left: 384px;

        @include media-desktop {
          display: none;
        }
      }
    }
  }
}
