.services {
  margin-top: 15.5rem;

  @include media-desktop {
    margin-top: 14.4rem;
  }

  @include media-mobile {
    margin-top: 13.7rem;
  }

  &__wrapper {
    @include layout(45%);

    @include media-desktop {
      flex-wrap: wrap;
    }

    @include media-mobile {
      flex-wrap: wrap;
    }
  }

  &__content {
    margin-top: 6.7rem;
    flex-shrink: 1;

    @include media-desktop {
      flex: 1 0 100%;
      text-align: center;
      margin-top: 0;
    }
  }

  &__title {
    max-width: 520px;
    width: 100%;
    margin-top: 3.2rem;
    margin-bottom: 1.7rem;
    line-height: 130%;

    @include media-desktop {
      max-width: 100%;
    }

    @include media-tablet {
      margin-top: 1.4rem;
      margin-bottom: 5.4rem;
    }
  }

  &__text {
    max-width: 51rem;

    @include media-desktop {
      max-width: 100%;
    }
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-top: 4.2rem;
    color: $color-primary;
    @include font(2rem, 600);

    @include media-desktop {
      margin-top: 0.3rem;
      justify-content: flex-start;
    }

    span {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-left: 1.5rem;
      background: url("./assets/images/services/arrow-right.svg") center /
        contain no-repeat;

      @include media-desktop {
        width: 20px;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, min(262px, 50%));
    justify-content: space-between;
    align-content: space-between;
    row-gap: 38px;

    @include media-desktop {
      justify-content: space-around;
      flex: 1 0 100%;
    }

    @include media-tablet {
      margin-top: 3.5rem;
      grid-template-columns: repeat(2, minmax(15vw, 262px));
    }

    @include media-mobile {
      grid-template-columns: 262px;
      margin-top: 1.3rem;
    }

    .card {
      @extend %transition;

      &__image {
        @include media-tablet {
          margin-bottom: 0;
        }
      }

      &__title {
        line-height: 32px;

        @include media-mobile {
          @include font(16px, 700, 0.01, 24px);
        }
      }

      &:hover {
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
