.services {
  margin-top: 15.5rem;
  &__wrapper {
    @include layout(45.5%);
  }

  &__content {
    margin-top: 6.7rem;
  }

  &__title {
    margin-top: 3.2rem;
    margin-bottom: 1.7rem;
    @include font(5.5rem, 700, 0.003, 130%);
  }

  &__text {
    max-width: 51rem;
  }

  &__link {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    @include font(2rem, 600);
    color: $color-primary;

    align-items: center;
    padding-right: 4.3rem;
    margin-top: 4.2rem;

    span {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-left: 1.5rem;
      background-image: url("./assets/images/services/arrow-right.svg");
    }
  }

  &__cards {
    @include layout(262px);
    gap: 4rem;

    .card {
      @extend %transition;
      height: 269px;

      &__title {
        line-height: 32px;
      }

      &:hover {
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
