.footer {
  margin-top: 18rem;
  padding: 13.2rem 0 3rem;
  background-color: $color-dark;
  color: $color-light;
  @include font(1.8rem, 400, 0);

  @include media-tablet {
    padding-top: 6.6rem;
    margin-top: 13.7rem;
  }

  &__wrapper {
    flex-direction: column;
  }

  &__content {
    margin: 0 5px 0 3px;
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    background-color: $color-light;
    border-radius: 20px;
    flex-basis: 187px;
    height: 88px;
    padding: 1.9rem 2.6rem;
    margin-right: 6.8rem;
    margin-bottom: 11.5rem;

    .logo {
      width: 100%;
    }
  }

  &__links-wrapper {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;

    @include media-tablet {
      row-gap: 6.43rem;
    }
  }

  &__links {
    &:last-child {
      margin-left: 9px;

      @include media-tablet {
        margin-left: 0;
      }
    }
  }

  &__title {
    text-wrap: nowrap;
  }

  &__text {
    margin-top: 2.3rem;

    @include media-tablet {
      @include font(2.29rem, 400, 0, 1.3);
      margin-top: 3.1rem;
    }
  }

  &__link {
    display: block;
    margin-top: 2.3rem;

    @include media-tablet {
      @include font(2.29rem, 400, 0, 1.3);
      margin-top: 3.1rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5.4rem;

    @include media-tablet {
      margin-top: 9.43rem;
    }
  }

  &__social-links {
    max-width: 50rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid $color-light;
    margin-bottom: 1.6rem;

    @include media-tablet {
      padding-bottom: 2.71rem;
    }

    @include media-mobile {
      gap: 3.57rem;
      .link {
        width: 36px;
        height: 36px;
      }
    }
  }

  &__author {
    text-align: center;
    @include media-tablet {
      margin-top: 1.43rem;
      width: 100%;
      font-size: 14px;
    }
  }
}
