.header {
  margin-top: 7.2rem;
  margin-bottom: 6.9rem;

  @include media-tablet {
    margin-top: 5.7rem;
  }

  @include media-mobile {
    margin-bottom: 8.1rem;
  }

  &__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 13.6rem;
    height: 5rem;
  }

  &__navigation,
  &__button {
    @include media-tablet {
      display: none;
    }
  }
}
