.header {
  margin-top: 72px;
  &__wrapper {
    width: 1248px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 136px;
    height: 50px;
  }
}
