$color-primary: #377dff;
$color-light: #ffffff;
$color-dark: #383638;
$color-text-dark: #1d1d1d;
$color-text-light: #464646;
$color-dark-theme-light: #e2e2e2;
$color-dark-theme-dark: #0d0d0d;
$color-dark-theme-bg: #0e0e0e;

$color-decor-1: #377dff;
$color-decor-2: #f62424;
$color-decor-3: #24f639;
$color-decor-4: #ff5c00;
$color-decor-5: #eb00ff;
$color-decor-6: #0b50ff;

$width-desktop: 960px;
$width-tablet: 768px;
$width-mobile: 414px;
