$color-primary: #377dff;
$color-light: #ffffff;
$color-dark: #383638;
$color-text-dark: #1d1d1d;
$color-text-light: #464646;

$color-decor-1: #377dff;
$color-decor-2: #f62424;
$color-decor-3: #24f639;
$color-decor-4: #ff5c00;
$color-decor-5: #eb00ff;
$color-decor-6: #0b50ff;
