@mixin font($size, $weight: 400, $letter: 0.01, $height: normal) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  font-optical-sizing: none;
  letter-spacing: calc($size * $letter);
}

@mixin layout($width) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  > * {
    flex-basis: $width;
  }
}

@mixin media-desktop {
  @media (max-width: $width-desktop) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $width-tablet) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $width-mobile) {
    @content;
  }
}
